@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Races on map";
}
<img src="~/images/banners/map.png" />
<map name="workmap">
    @foreach (var item in (List<Race>)ViewData["Races"])
    {
        <area shape="circle" coords="24,58,8" alt="@item.Name" @Url.Action("Info", "ShowRace", item.RaceID)>
    }
</map>
<br/>
<a asp-controller="Home" asp-action="Menu">Back</a> 
